<!-- 'editing' 'view' -->
<li [class.completed]="isCompleted"
    [class.editing]="editing"
    (keydown.escape)="closeEditing()">
  <div class="view">
    <input
      class="toggle"
      type="checkbox"
      [(ngModel)]="isCompleted"
      (change)="toogleTodoStatus()"
    />
    <label (dblclick)="openEditing(input)">{{ todo.text }}</label>
    <button
      type="button"
      class="destroy"
      (click)="deleteTodo()"
    ></button>
  </div>
  <input class="edit"
        [(ngModel)]="description"
        (blur)="saveTodo();closeEditing()" #input
        (keydown.enter)="saveTodo(); closeEditing()"/>
</li>
