<!-- This footer should hidden by default and shown when there are todos -->
<footer class="footer min-h-[40px]">
  <!-- This should be `0 items left` by default -->
  <span class="todo-count"><strong>{{pendingTodos$ | async}}</strong> item left</span>
  <!-- Remove this if you don't implement routing -->
  <ul class="filters">
    <li *ngFor="let filter of filters|keyvalue:keepOrder">
      <a [routerLink]="'/'+filter.key" routerLinkActive="selected" (click)="updateFilter(filter.key)">{{filter.value}}</a>
    </li>
  </ul>
  <!-- Hidden if no completed items are left ↓ -->
  <button class="clear-completed" (click)="deletCompleted()">Clear completed</button>
</footer>
